*{margin: 0; box-sizing: border-box;}

body{ 
    background-color: #e0e0e0;
}
body {
    font-family: 'Catamaran', sans-serif;

    color: #2b2b2b;
}
.contenedor_principal{
    font-family: 'Catamaran', sans-serif;

    position: fixed;
    background-color:#558b2f;
    height: 80px;
    width: 1520px;
    top: 0;
    left: 0;   
}
.nav1{
    display: flex;
    justify-content: space-between;

}

.nav-link1{
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
}

.logo{
    text-shadow: 2px 2px 5px #fff;
    font-size: 30px;
    font-weight: bold;
    padding:  0 20px;
    line-height: 80px;

}
.nav-menu1{
    display: flex;
    margin-right: 20px;
    list-style: none;
}
.nav-menu21{
    font-size: 18px;
    margin:   0 10px;
    line-height: 80px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-menu21:hover{
    color:#eee;
    padding: 10px 20px;
    border-bottom: 3px solid #ccc;
    background-color: #94af76;
    transition: 0.5S;
}
.menu{
    
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    
}
.menu1{
    color: white;
    text-decoration:wavy;
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    
}
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.seccion-perfil-usuario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}
.perfil-usuario-section{
    margin-bottom: 4%;
}
.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image:#702e62;
    border-radius: 0 0 20px 20px;
}
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
    
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #558b2f;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #558b2f;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.configuracion {
    background-color: #558b2f;
}

.seccion-perfil-usuario .boton-redes.compras {
    background-color: #558b2f;
}

.seccion-perfil-usuario .boton-redes.favorito {
    background-color: #558b2f;
}

@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
.texto-informacion{
   margin-left: 5%;
   color: #848484;
}
