$font-family: 'Catamaran', sans-serif;

$control:rgba(104, 104, 104, 0.31);
$success:#689f38;
$gradient:#689f38;
$secondary:#eeee;
$primary:#8bc34a;
$dark:#689f38;



@import "../node_modules/bootstrap/scss/bootstrap";